<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] [%mdc{x-panamera-sitecode:-none}] [client: %mdc{cid:-none}][trx: %mdc{tid:-none}] [%t] [%logger{39}] : %m %ex{10} %n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
